<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>IP</title>
        <meta charset="UTF-8">
        <meta name="description" content="Simple Map">
        <meta name="keywords" content="ng-map,AngularJS,center">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Seu IP</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div ng-app="buscaIp" ng-controller="buscaIpController">
                <div class="form-group">
                    <label class="control-label">Endereço de IP</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ex: 192.168.0.1" ng-model="ip">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="buscaLocalizacao(ip)" type="button">Localizar</button>
                        </span>
                    </div>
                </div>
                <table class="table table-hover" ng-init="meuIp(ip)" ng-show="dados">
                    <tbody>
                        <tr>
                            <th class="">Seu IP</th>
                            <td type="text" name="ip" ng-model="dados.ipAddress">{{dados.ipAddress}}</td>
                        </tr>
                    </tbody>
                    <tr><td class="">Cidade</td><td class=""ng-model="dados.cityName">{{dados.cityName}}</td></tr>
                    <tr><td class="">Cep</td><td class="" ng-model="dados.zipCode">{{dados.zipCode}}</td></tr>   
                    <tr><td class="">Estado</td><td class=""ng-model="dados.regionName">{{dados.regionName}}</td></tr>
                    <tr><td class="">País</td><td class=""ng-model="dados.countryName">{{dados.countryName}}</td></tr>
                    <tr><td class="">Latitude</td><td class=""ng-model="dados.latitude">{{dados.latitude}}</td></tr>
                    <tr><td class="">Longitude</td><td class=""ng-model="dados.longitude">{{dados.longitude}}</td></tr>
                </table>
            </div>

            <!--<iframe ng-src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14661.220818692913!2d{{data.longitude}}!3d{{data.latitude}}!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1457605368893" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            <div ng-app="ngMap">
                <ng-map center="[40.74, -74.18]"></ng-map>
            </div>
            <div ng-app="buscaIp" ng-controller="buscaIpController" ng-show="todosDados.length > 0">
                <h2>Seu Histórico de localizações</h2>
                <table class="table table-hover" ng-init="">
                    <tbody>
                        <tr>
                            <th class="">IP</th>
                            <th class="">País</th>
                            <th class=""></th>
                        </tr>
                    </tbody>
                    <tr ng-repeat="dados in todosDados">
                        <td class="" ng-model="dados.ipAddress">{{dados.ipAddress}}</td><td class=""ng-model="dados.countryName">{{dados.countryName}}</td>
                        <td><a href="#" ng-click="" class="btn btn-danger btn-xs"><span class=""></span>Excluir</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>